body,html{
    background-color: #E5E8EA !important;
}
.blogheader{
    background-color: #fff;
}
.bloglogo{
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: left center;
}
.header1200{
    width: 1200px;
    position: relative;
    margin: auto;
    height: 100%;
}
.center1200{

    position: relative;
    margin: auto;
    max-width: 1200px;
}
.heimax{
    height: calc( 500px - 0.5rem );
    position: relative;
}
[class*='col']{
padding-left: 0 !important;
    padding-right: 0 !important;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.heimin{
    height: 250px;
}
.test{

}
.fullimg{
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fulldiv{
    width: 100%;
    height: 100%;
    position: relative;
}
.boxstyle{

    background-color: #999999;
}
.specialtitle::before{
    content: "■";
    color:#df0000;
    font-size: 1.5rem;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.specialtitle{
    font-size: 2rem;
}
.footerbg{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #b9b9b9;
}
.setlists a{
    color:#707070;
}
.footerright a{
    color:#000
}
.txtbg{
    width: 100%;
    padding: 5%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    color:#fff;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;

}
.heimin .txtbg{
    font-size: 13px;
}
.setlists li{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #d3d5d7;
}
.rightbar>div{
    width: 100%;
    margin-bottom: 10px;
}
.rightbar>div>img{
    width: 100%;
}
.contentnews{
    padding-left: 10px;
    padding-right: 10px;
}
.contentnews img{
    max-width: 100%;
    height: auto !important;
}
.row a{
    display: contents;
}
.pagebtn{

    padding: 10px !important;
    background-color: #b9b9b9;
    color:#fff;
    text-align: center;
    overflow : hidden; text-overflow : ellipsis; white-space : nowrap;
    cursor: pointer;
}
.blogheader a{
    color:#707070;
}
.pagetitle{
    color:#000;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.onelist{
    background-color: #fff;
    padding: 10px !important;
    margin-bottom: 2px;
}
.oneimg{
    height: 150px;
    width: 100%;
    background-color: #000;
}

a:hover {
    color:inherit;
    text-decoration: none !important;
}
a:hover .onelist .imgdetail{
    text-decoration: underline;
}

.imgtitle{
    font-size: 20px;
    color:#000;
}
.imgdetail{
    color:#707070;
}
.imgmore{
    position: absolute;
    bottom:5px;
    right: 5px;
    color:#df0000;
}
.pages{
    text-align: center;
    width: 100%;
}
